<html>
<body>
    <header class="main-header container">
        <h1><small>Restricted access </small> Please log in</h1>
    </header>

    <div class="container">
        <div class="bread-crumb">
            <a href="/">Home</a> > Login
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12">
                        <h3>Who are you ?</h3>
                        {% if error is not none %}
                            <div class="alert alert-error">{{ error }}</div>
                        {% endif %}
                        <form action="{{ path('administration_login') }}" method="post">
                            <label>Username :<input type="text" name="_username" id="username" /></label><br />
                            <label>Password : <input type="password" name="_password" /></label><br />
                            <input type="submit" value="Let's rock" class="btn btn-large btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>